/* Regole css selettore universale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

/* Regola css per nascondere scrollbar */
body {
    overflow: hidden;
}

/* Regola css generale per ogni contenitore per formattare alteza e larghezza */
.view {
    height: 100vh;
    width: 100%;
}

/* Regole css contenitori per assegnare il colore di bg */
div.first-container {
    position: relative;
    background-color: red;
}

div.second-container {
    position: relative;
    background-color: green;
}

div.third-container {
    position: relative;
    background-color: yellow;
}

/* Regola css per andare a centrare gli elementi */
article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

/* Regole css per la colorazione e formattazione del testo */
article h1 {
    text-align: center;
    font-size: 50px;
    color: yellow;
    font-weight: 900;
}

#special-txt {
    color: green;
}

/* Regole css per fissare il nav al top della pagina */
nav {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

/* Regole css per centrare e dare una formattazione adeguata ai numeri */
a {
    text-decoration: none;
    color: black;
    position: absolute;
    padding: 8px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    margin: 10px 10px;
    background-color: white;
    font-weight: bold;
    width: 35.2px;
    height: 35.2px;
    border-radius: 50%;
    border: 2px solid black;
}